
:root {
  --main-color: rgb(22, 21, 21);
  --a-color: rgb(128, 124, 124);
  --active-color: rgb(183, 171, 171);
  
}

@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Inconsolata:wght@300&family=Roboto+Slab:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 204, 204);
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular' 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
}

nav, header, footer {
    border-bottom: 1px solid #ccc;
}

h1, h2, h3 {
    font-family: 'Dynapuff', serif;
}

.main-nav {
    display: flex;
    padding: 0.5em;
    list-style-type: none;
}

.main-nav > li {
    margin-left: 2em;
}

.main-nav > li > a {
    text-decoration: none;
    color: var(--a-color);
    padding: 0.5em;
}

.main-nav > li > a:hover {
    background-color: whitesmoke;
    color: blue;
    border-radius: 0.3em;
}

.main-nav > li > a:active {
    color: purple;
    background-color: var(--active-color);
}

.main-nav > .right-nav {
    margin-left: auto;
}

header {
    background-size: 100%;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.company {
    text-align: center;
    font-family: 'Dynapuff', serif;
    font-size: 2em;
}

.image {
    width: 100%;
}

.slogan {
    position: absolute;
    bottom: 0;
    right: 1em;
    color: var(--main-color);
    font-style: italic;
    text-shadow: 0.5px 1px 0px black;
    font-size: 1.5em;
    text-align: center;
}

aside {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside > form {
    display: flex;
    flex-direction: column;
}

main {
   column-gap: 1em;
   row-gap: 1em;
}

.flex-container {
   justify-content: flex-start;
   flex-wrap: wrap;  
   display: flex;
}

.location-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding: 1em 1em 1em;
}

.location-card > img {
    border-radius: 4px;
}

.prices {
    font-weight: 200;
}

footer {
    padding: 1.5em;
}

footer > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
}

footer > ul > li > a {
    color: var(--a-color);
    padding-left: 0.5em 1em;
    text-decoration: none;
}

footer > ul > li > a:hover {
    background-color: whitesmoke;
    color: blue;
    border-radius: 0.3em;
}

footer > ul > li > a:active {
    color: purple;
    background-color: var(--active-color);
}

@media (min-wid: 480px) {
    .container, footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container, footer {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container, footer {
        flex-direction: column;
        display: flex;
    }
}
